.Weather {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid #142d4c;
  background-color: #e2efff;
  color: #385170;
  padding: 16px;
  border-radius: 6px;
}

.Weather h1 {
  font-size: 38px;
  font-weight: 400;
  line-height: 28px;
  margin: 20px 0 0 0;
  text-align: center;
  color: #ff6f3c;
}

.Weather ul {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  list-style: none;
  line-height: 18px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: -330px;
}

.Weather .unit {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  top: -34px;
  position: relative;
}

.Weather .btn {
  background-color: #385170;
  color: #e2efff;
}

.Weather .form-control {
  background-color: #e2efff;
  color: #142d4c;
}

.WeatherInfo {
  text-align: center;
  margin-bottom: 40px;
}

.Weather canvas {
  margin: 0 auto;
}

.WeatherForecast {
  max-width: 600px;
  border: 1px solid #142d4c;
  border-radius: 10px 10px 0 0;
  background-color: white;
}
